.login-space {
  margin-top: 5rem;
}
.photo {
  display: block;
  margin-left: 25rem;
}
header {
  background-color: lightyellow;
}
h2 {
  text-align: center;
}
footer {
  background-color: lightcoral;
  padding-left: 15rem;
}
